/* Gray border of body 20px
border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50 
font: source sans pro
*/

body {
    border: 20px solid #bdc3c7;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Source Sans Pro', sans-serif;

}

.date{
    color:#3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div {
    margin-left: 5%;
}

.leftMargin{
    border-left: 5px solid #bdc3c7;
    padding-left: 1%;
}

p:nth-of-type(3){
    border-bottom: 1px solid #d1d7db;
    padding-bottom: 3%;
}

p{
    text-align: justify;
    margin-right: 5%;
}
 